<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169386346-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169386346-1');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1><b>Directed Small Molecules Network</b></h1>
      <h2 class="project-tagline">Discovering life’s directed metabolic (sub)paths to interpret biochemical markers</h2>
      <a href="https://cyneo4j.github.io/DSMN/" class="btn">Home</a>
      <a href="https://cyneo4j.github.io/DSMN/QuickStart" class="btn">Quick Start</a>
      <a href="https://cyneo4j.github.io/DSMN/Advanced" class="btn">Advanced Users</a>
      <a href="https://github.com/cyNeo4j/DSMN/blob/gh-pages/docs/0_DSMNEclipseSetup" class="btn">Setup Eclipse</a>
      <a href="https://pathvisio.github.io/SetupNeo4j" class="btn">Setup Neo4j</a>
      <a href="https://pathvisio.github.io/RDFqueries" class="btn">RDF Queries</a>
      <a href="https://pathvisio.github.io/DataMerge" class="btn">Merge Datas</a>
      <a href="https://pathvisio.github.io/DataTransfer" class="btn">Transfer Data</a>
      <a href="https://pathvisio.github.io/DataQuery" class="btn">Query Data</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!--<span class="site-footer-owner">--><a href="https://github.com/CyNeo4j/DSMN">DSMN and CyNeo4j</a> is maintained by the Department of Bioinformatics at Maastricht University (NL).<!--</span>-->
      <div class="logo">
                    <img src="images/logos/UM_PathVIsio_BiGCaT_Logo.png" class="img-responsive">
                </div>
      </footer>
    </main>
  </body>
</html>
